[submodule "external/imgui"]
	path = external/imgui
	url = https://github.com/ocornut/imgui
[submodule "external/glm"]
	path = external/glm
	url = https://github.com/g-truc/glm
[submodule "external/gltf-samples"]
	path = external/gltf-samples
	url = git@github.com:KhronosGroup/glTF-Sample-Models.git
